@model Unicasa.Web.Models.CargaModel

@{
    ViewBag.Title = "Importação de Base";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">@ViewBag.Title</span>
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <h4>Clique para carregar o arquivo base</h4>
                            </p>
                            @using (Html.BeginForm("Upload", "Carga", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary()

                                <div class="col-md-12">
                                    <input type="file" name="attachmentcsv" id="attachmentcsv" hidden>
                                </div>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(c => c.Observacoes, new {@class = "form-control", @placeholder = "Observações"})
                                </div>
                                <br />
                                <br />
                                <div class="col-md-3">
                                    <input type="submit" class="form-control btn btn-info" value="Carregar arquivo de texto" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
