@model Unicasa.Domain.Arguments.DashResponse

@{
    ViewBag.Title = "Dashboard";
    ViewBag.SmallDescription = "Dashboard & informações gerais";
}



<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="mt-content-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-green-steel uppercase bold">informações de entrada</span>
                            <span class="caption-helper hide">weekly stats...</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row list-separated text-center">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="font-grey-mint font-sm"> Tickets Pendentes </div>
                                <div class="uppercase font-hg font-red-flamingo">
                                    @Model.TicketsPendentes
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="font-grey-mint font-sm"> Total de Agendamentos </div>
                                <div class="uppercase font-hg theme-font">
                                    @Model.TotalAgendado
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="font-grey-mint font-sm"> Total Entregas </div>
                                <div class="uppercase font-hg font-purple">
                                    @Model.TotalEntrgue
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="font-grey-mint font-sm"> Usuários Ativos </div>
                                <div class="uppercase font-hg font-blue-sharp">
                                    @Model.TotalUsuarios
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
