@model Unicasa.Domain.Entities.Metricas
@{
    ViewBag.Title = "Métricas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase">@ViewBag.Title</span>
                    </div>
                    <div class="tools"> </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    @using (Html.BeginForm("Update", "Usuario", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-body">
                            <div class="form-group form-md-line-input form-md-floating-label edited">
                                @Html.TextBoxFor(m => m.AgendamentosPorDia, new { @class = "form-control" })
                                <label for="form_control_1">Quantidade máxima de agendamentos por dia:</label>
                            </div>
                            <div class="form-group form-md-line-input form-md-floating-label">
                                @Html.TextBoxFor(m => m.DiasMinimosEntrega, new { @class = "form-control" })
                                <label for="form_control_1">Dias minimos de entrega:</label>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- END FORM-->
                </div>

                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
</div>

