@model Unicasa.Web.Models.UsuarioModel
@using Unicasa.Domain.Helper

@{
    Layout = null;
}

@using (Html.BeginForm("Update", "Usuario", FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Editar Usuario</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 bold">

                @Html.HiddenFor(m => m.Usuario.Id)
                <p>
                    <h6>NOME:</h6>
                    @Html.TextBoxFor(m => m.Usuario.NomeCompleto, new { @class = "form-control" })
                </p>
                <p>
                    <h6>PERFIL:</h6>
                    @Html.DropDownListFor(m => m.Usuario.UserRole, new SelectList(Enum.GetValues(typeof(UserRole))), new { @class = "form-control" })
                </p>
                <p>
                    <h6>EMAIL:</h6>
                    @Html.TextBoxFor(m => m.Usuario.Email, new { @class = "form-control" })
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn green">Salvar</button>
    </div>
}
